---
layout: page
title: Tags
---
{% comment %} Build a list of unique tags (case-insensitive) with their canonical names {% endcomment %}
{% assign normalized_tags = "" | split: "," %}
{% assign canonical_names = "" | split: "," %}

{% for tag in site.tags %}
    {% assign tag_lower = tag[0] | downcase %}
    {% assign tag_found = false %}
    
    {% for normalized_tag in normalized_tags %}
        {% if normalized_tag == tag_lower %}
            {% assign tag_found = true %}
            {% break %}
        {% endif %}
    {% endfor %}
    
    {% unless tag_found %}
        {% assign normalized_tags = normalized_tags | push: tag_lower %}
        {% assign canonical_names = canonical_names | push: tag[0] %}
    {% endunless %}
{% endfor %}

<section class="list">
    <h1 class="title">Tags</h1>

    {% for canonical_name in canonical_names %}
        {% assign tag_lower = canonical_name | downcase %}
        <a class="item" href="#{{ tag_lower | slugify }}">{{ canonical_name | upcase }}</a>
    {% endfor %}
</section>

<hr>

<section class="tag-list">
    {% for canonical_name in canonical_names %}
        {% assign tag_lower = canonical_name | downcase %}
        {% assign all_posts = "" | split: "," %}
        
        {% comment %} Collect all posts from all variations of this tag {% endcomment %}
        {% for tag in site.tags %}
            {% assign current_tag_lower = tag[0] | downcase %}
            {% if current_tag_lower == tag_lower %}
                {% for post in tag[1] %}
                    {% assign all_posts = all_posts | push: post %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        
        {% comment %} Capitalize first letter of first word for display {% endcomment %}
        {% assign canonical_lower = canonical_name | downcase %}
        {% assign words = canonical_lower | split: " " %}
        {% assign first_word = words[0] | capitalize %}
        {% assign display_name = first_word %}
        {% for word in words offset: 1 %}
            {% assign display_name = display_name | append: " " | append: word %}
        {% endfor %}
        
        <h2 class="title" id="{{ tag_lower | slugify }}">#{{ display_name }}</h2>

        <ul class="list">
            {% assign sorted_posts = all_posts | sort: "date" | reverse %}
            {% for post in sorted_posts %}
                {% if post.title != null %}
                    {% if group == null or group == post.group %}
                        <li class="item">
                            <a class="url" href="{{ site.url }}{{ post.url }}">
                                <aside class="date"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
                                <h3 class="title">{{ post.title }}</h3>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% assign pages_list = nil %}
            {% assign group = nil %}
        </ul>

        <div class="breaker"></div>
    {% endfor %}
</section>
