.nav,
.nav-home
    > .list
        list-style: none
        margin: 0
        padding: 0 13px 0

        > .item
            display: inline-block

        > .item > .link
            display: inline-block
            font-weight: 300
            font-size: 1.4rem
            padding: 20px 10px
            text-decoration: none

.nav
    display: flex
    justify-content: start

    > .list
        padding: 0 13px 0
        text-align: center

        > .item > .link
            font-size: 2rem
            padding: 20px 10px

.nav-home
    margin-top: 40px
    text-align: center

    > .list
        padding: 0

        > .item > .link
            font-size: 2rem
            padding: 7px 15px
            margin: 0
            border-radius: 4%
            transition: all .4s ease-in-out
            width: 110px

            &:hover
                color: $alpha

.nav > .list > li.item:first-child > a.link
        padding-left: 0

.nav > .list
        padding-left: 0

.spacer
    float: left
    height: 20px
    width: 200px


.nav > .list > .item.active > .link 
    font-weight: bold
    border-bottom: 2px solid $alpha

@media #{$below}
    .nav
        justify-content: start
        margin-bottom: 1rem

    .nav > .list
        padding-left: 0

    .nav > .list > .item > .link
        line-height: 1.5rem
        font-size: 1.4rem
        padding: 10px

    .nav > .list > .item.active > .link
        padding: 8px

    .nav > .list > li.item:first-child > a.link
        padding-left: 0

    .nav > .list > li.item.active:first-child > a.link
        padding-right: 5px
