---
layout: default
---

{% if page.title == "Home" %}
    <header class="header-home">

        <a class="link" href="{{ site.url }}/about">
            <picture>
                <source srcset="{{ site.url }}/{{ site.picture-webp }}" type="image/webp" height="175px" width="175px" class="selfie">
                <source srcset="{{ site.url }}/{{ site.picture }}" type="image/jpeg" height="175px" width="175px" class="selfie"> 
                <img src="{{ site.url }}/{{ site.picture }}" alt="{{ site.name }} Headshot" height="175px" width="175px" class="selfie">
            </picture>
        </a>

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        <div class="social-links">
            <a class="link" rel="me noopener noreferrer" data-title="{{ site.mastodon }}" href="{{ site.mastodon }}" target="_blank" title="Tony Edwards Mastodon Profile">
                <svg class="icon icon-mastodon"><use xlink:href="#icon-mastodon"></use></svg>
            </a>

            <a class="link" rel="me noopener noreferrer" data-title="twitter.com/{{ site.twitter }}" href="http://twitter.com/{{ site.twitter }}" target="_blank" title="Tony Edwards Twitter Account">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>
        
            <a class="link" rel="me noopener noreferrer" data-title="instagram.com/{{ site.instagram }}" href="http://instagram.com/{{ site.instagram }}" target="_blank" title="Tony Edwards Instagram Account">
                <svg class="icon icon-instagram"><use xlink:href="#icon-instagram"></use></svg>
            </a>
        
            <a class="link" rel="me noopener noreferrer" data-title="linkedin.com/in/{{ site.linkedin }}" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank" title="Tony Edwards LinkedIn Account">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a>
        
            <a class="link" rel="me noopener noreferrer" data-title="youtube.com/channel/{{ site.youtube }}" href="http://youtube.com/channel/{{ site.youtube }}" target="_blank" title="Tony Edwards YouTube Account">
                <svg class="icon icon-youtube"><use xlink:href="#icon-youtube"></use></svg>
            </a>
        
            <a class="link" rel="me noopener noreferrer" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank" title="Tony Edwards Github Account">
                <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
            </a>
        
            <a class="link" rel="me noopener noreferrer" data-title="stackoverflow.com/users/{{ site.stackoverflow }}" href="http://stackoverflow.com/users/{{ site.stackoverflow }}" target="_blank" title="Tony Edwards Stack Overflow Account">
                <svg class="icon icon-stackoverflow"><use xlink:href="#icon-stackoverflow"></use></svg>
            </a>
        
        </div>
    </header>
{% else %}
    <header class="header-not-home">
        <a href="{{ site.url }}/">{{ site.name }}</a>
    </header>
{% endif %}


<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title == "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/about">About Me</a>
            </li>
        {% endif %}
        <li class="item {% if page.title == 'Blog' or page.title == 'Tags' or page.collection == 'posts' %}active{% endif %}">
            <a class="link" href="{{ site.url }}/blog">Blog Posts</a>
        </li>
        <li class="item {% if page.title == "Speaking" %}active{% endif %}">
            <a class="link" href="{{ site.url }}/speaking">Speaking</a>
        </li>
        <li class="item {% if page.title == "Contact Me" %}active{% endif %}">
            <a class="link" href="{{ site.url }}/contact">Contact Me</a>
        </li>
    </ul>
</nav>

{{content}}

{% if page.title != "Home" %}
    <footer class="footer-main">
        © <a href="{{site.url}}" class="link">{{ site.name }}</a></br> 
        <a class="link" href="{{ site.url }}/about">About</a> -
        <a class="link" href="{{ site.url }}/blog">Blog</a>  -  
        <a class="link" href="{{ site.url }}/speaking">Speaking</a> - 
        <a class="link" href="{{ site.url }}/contact">Contact</a>

        <p class="extra">
            View on <a class="link" href="https://github.com/tonyedwardspz/tonyedwardspz">Github</a> - 
            <a class="link" href="{{ site.url }}/feed.xml" target="_blank">Subscribe via RSS</a>
        </p>
    </footer>
{% endif %}
