form {
  padding-right: 2em;
  text-align: left;

  label {
    display: block;
    font-weight: bold;
    width: 100%;
    margin-top: 1em;
    margin-bottom: .5em;
  }

  input,
  select,
  textarea {
    padding: 5px;
    width: 60%;
  }

  textarea {
    width: 100%;
    height: 150px;
    display: block;
  }

  input[type="submit"],
  button {
    border-radius: 10px;
    border: 1px sold #999;
    width: 25%;
  }

  input[type="submit"]:hover,
  button {
    border: 2px solid #cfcfcf;
  }

  button {
    margin-top: 1em;
  }

  div {
    margin-top: 1em;
  }
}

@media screen and (max-width: 720px) {

  form {
    div,
    label,
    input,
    select,
    textarea,
    input[type="submit"],
    button {
      width: 100%;
    }
  }
}

a.hn-comment {
  color: #FF6600;
  text-decoration: underline;
}
