form {
  padding-right: 2em;
  text-align: left;

  label {
    display: block;
    font-weight: bold;
    width: 100%;
    margin-top: 1em;
    margin-bottom: .5em;
  }

  input,
  select,
  textarea {
    padding: 5px;
    width: 60%;
  }

  textarea {
    width: 100%;
    height: 150px;
    display: block;
  }

  input[type="submit"],
  button {
    border-radius: 10px;
    border: 1px sold #999;
    width: 25%;
  }

  input[type="submit"]:hover,
  button {
    border: 2px solid #cfcfcf;
  }

  button {
    margin-top: 1em;
  }

  div {
    margin-top: 1em;
  }
}

@media screen and (max-width: 720px) {

  form {
    div,
    label,
    input,
    select,
    textarea,
    input[type="submit"],
    button {
      width: 100%;
    }
  }
}

a.hn-comment {
  display: block;
  margin: 0 auto;
  width: 100px;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FF6600;
  border-radius: 0.25rem;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

a.hn-comment:hover {
  background-color: #FF5500;
}
